<form action="/confirm" method="POST">

    <p>Nome</p>
    <input type="text" name="nome">

    <p>CPF</p>
    <input type="text" name="cpf">

    <p>Telefone</p>
    <input type="text" name="telefone">

    <p>Data de Inicio do contrato</p>
    <input type="text" name="inicioContrato">

    <p>Data de término do contrato</p>
    <input type="text" name="fimContrato">

    <button type="submit">Salvar</button>

</form>