<form action="/confpag" method="POST">

    <p>Data Estabelecida</p>
    <input type="text" name="dataEstabelecida">

    <p>Data de Pagamento</p>
    <input type="text" name="dataPagamento">

    <p>valor</p>
    <input type="text" name="valor">

    <button type="submit">Salvar</button>

</form>