<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    .center{
        align-items: center;
    }
    .menubtn{
        margin-left: 160px;
    }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-info">
            <a href="/inq" class="btn btn-secondary menubtn">Inquilinos</a>

            <a href="/infoinq" class="btn btn-secondary menubtn">Informações de Inquilinos</a>

            <a href="/pag" class="btn btn-success menubtn">Pagamentos</a>

            <a href="/infopag" class="btn btn-secondary menubtn">Informações Inquilinos</a>
        </div>
    </div>
</div>

<form action="/confpag" method="POST">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="card center">
                        <br>
                        <br>
                <p>Nome do inquilino</p>
                <select name="inquilinoSelect" class="form-control col-sm-4">
                    <option value="0">Selecione...</option>
                    <option value="nome"></option>
                </select>
                        <br>
                <p>Data Estabelecida</p>
                <input type="text" name="dataEstabelecida" class="form-control col-sm-4">
                        <br>
                <p>Data de Pagamento</p>
                <input type="text" name="dataPagamento" class="form-control col-sm-4">
                        <br>
                <p>valor</p>
                <input type="text" name="valor" class="form-control col-sm-4">
                        <br>
                <button type="submit" class="btn btn-success col-sm-2">Salvar</button>
                        <br>
                </div>
            </div>
        </div>
    </div>
</form>